{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="{% trans 'dir' %}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Article List" %}</title>
</head>
<body>
    <div class="container">
    <h1>{% trans "Articles" %}</h1>
    <ul>
        {% for article in articles %}
            <li>
                <p><strong>{% trans "Title" %}</strong> : {{ article.title }}</p>
                <p><strong>{% trans "Content" %}</strong> : {{ article.content }}</p>
                <p><strong>{% trans "Publication Date" %}</strong> : {{ article.publication_date }}</p>
            </li>
            <hr>
        {% endfor %}
    </ul>
    {% if articles %}
    <p>{% trans "Have a nice day reading these articles!" %}</p>
    {% else %}
        <p>{% trans "No articles available. Good morning!" %}</p>
    {% endif %}
    </div>
</body>
</html>

{% endblock %}
